LISTEN_ADDRESS=<HOSTNAME:PORT>
### If you define a domain here, the server will use certmagic to obtain
### a certificate from Let's Encrypt
#CERTMAGIC_DOMAIN=<DOMAIN>

LND_ADDRESS=<HOSTNAME:PORT>
LND_CERT=<LND_CERT> #replace each eol by \\n
LND_MACAROON_HEX=<hex encoded macaroon>

NODE_NAME=<NODE_NAME>
NODE_PUBKEY=<PUBKEY>
NODE_HOST=<HOSTNAME:PORT>

TOKEN=<TOKEN>
LSPD_PRIVATE_KEY=<LSPD PRIVATE KEY>
DATABASE_URL=<DATABASE_URL>

AWS_REGION=<aws region>
AWS_ACCESS_KEY_ID=<aws access key id>
AWS_SECRET_ACCESS_KEY=<aws secret access key>

OPENCHANNEL_NOTIFICATION_TO='["Name1 <user1@domain.com>"]'
OPENCHANNEL_NOTIFICATION_CC='["Name2 <user2@domain.com>","Name3 <user3@domain.com>"]'
OPENCHANNEL_NOTIFICATION_FROM="Name4 <user4@domain.com>"

CHANNELMISMATCH_NOTIFICATION_TO='["Name1 <user1@domain.com>"]'
CHANNELMISMATCH_NOTIFICATION_CC='["Name2 <user2@domain.com>","Name3 <user3@domain.com>"]'
CHANNELMISMATCH_NOTIFICATION_FROM="Name4 <user4@domain.com>"

RUN_CLIGHTNING=<true>
RUN_LND=<true>

C_LISTEN_ADDRESS=<HOSTNAME:PORT>
C_NODE_NAME=<NODE_NAME>
C_NODE_PUBKEY=<PUBKEY>
C_LSPD_PRIVATE_KEY=<C_LSPD_PRIVATE_KEY>
C_NODE_HOST=<HOSTNAME:PORT>